/*
0 - 375px:     Phone
375 - 1440px:   Desktop
1440px + :     Big Desktop

$breakpoint argument choices:
- phone
-desktop
- big-desktop

1em = 16px
*/
/* Colors */
/* Font */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 23.4375em) {
    html {
      font-size: 43.75%; } }
  @media only screen and (min-width: 87.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  margin: 8px;
  padding: 4rem; }

.hidden {
  display: none; }

body {
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
  line-height: 1.6;
  background-color: #121417; }
  @media only screen and (max-width: 23.4375em) {
    body {
      font-weight: 400;
      letter-spacing: 0.6px;
      line-height: 1.4; } }

.heading {
  color: white;
  font-size: 24px; }
  @media only screen and (max-width: 23.4375em) {
    .heading {
      font-size: 22px; } }

.paragraph {
  font-size: 15px;
  color: #959eac;
  font-weight: 20;
  margin: 2rem 0; }

.rating-selected {
  border: none;
  display: inline-block;
  height: 4rem;
  border-radius: 3rem;
  background-color: #7c8798;
  color: #fb7413;
  margin: 2rem 0;
  padding: 1rem; }
  @media only screen and (max-width: 23.4375em) {
    .rating-selected {
      height: 5rem; } }

.btn {
  font-family: inherit;
  border: none;
  border-radius: 50px;
  font-weight: 600;
  font-size: 1.9rem;
  cursor: pointer; }
  .btn-rating {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0 1.5rem 0; }
    .btn-rating-num {
      width: 65px;
      height: 65px;
      background-color: #363c45;
      color: #959eac; }
      @media only screen and (max-width: 23.4375em) {
        .btn-rating-num {
          width: 53px;
          height: 53px; } }
      .btn-rating-num:hover {
        background-color: #7c8798;
        color: white; }
  .btn-submit {
    margin-bottom: 0.6rem; }
    .btn-submit-rat {
      width: 100%;
      height: 50px;
      text-transform: uppercase;
      background-color: #fb7413;
      color: white;
      letter-spacing: 0.25rem;
      transition: all 0.5s ease-in-out; }
      @media only screen and (max-width: 23.4375em) {
        .btn-submit-rat {
          height: 35px; } }
      .btn-submit-rat:hover, .btn-submit-rat:focus {
        background-color: white;
        color: #fb7413; }

.icon-star {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  margin: 1rem 0 2.5rem 0;
  padding: 0;
  background-color: #363c45; }
  @media only screen and (max-width: 23.4375em) {
    .icon-star {
      width: 53px;
      height: 53px; } }

.icon-thank-you {
  margin-top: 2rem; }
  @media only screen and (max-width: 23.4375em) {
    .icon-thank-you {
      margin: 3rem; } }

.section {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 29%; }
  @media only screen and (max-width: 23.4375em) {
    .section {
      max-width: 95%; } }
  .section-box {
    width: 37rem;
    margin: 0 auto;
    border-radius: 30px;
    padding: 2rem;
    background-color: #252d37; }
    @media only screen and (max-width: 23.4375em) {
      .section-box {
        width: 50rem; } }
  .section-thanks {
    padding: 1rem;
    text-align: center; }

.attribution {
  font-size: 11px;
  text-align: center;
  font-family: 'Overpass', sans-serif;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0.5rem; }

.attribution a {
  color: #3e52a3; }
